
  .map {

    width : 1200px;
    height : 500px;

  }

  .country:hover {
    fill: rgba(63, 174, 238, 0.953);

  }

  .country {
    fill: rgba(253, 253, 253, 0.893);
    stroke: black;
    stroke-width: 0.05px;

  }

  .site-list {

    background-color: rgba(255, 255, 255, 0.5);
    padding: 14px 16px;
    width: 300px;
    text-align: center;
    float: right;
    position:absolute;
    left:55%;
    top:30%;

  }
  
