.DetailWeatherIcon {
    font-size: 160px;
    color:  rgb(255, 255, 255);
  }

.moonIcon {
font-size: 120px;
color:  rgb(246, 251, 3, 1);
}

.detailCard {
    display: grid;
    font-family: Arial;
    height: 500px;
    width: 100%;
    grid-template-columns: 50% 50%;
    padding-left: 500px;
    padding-right: 400px;
    background-color: rgb(255, 255, 255, 0);
}

.detailCardLeftColumn {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(../image/은하수2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px 30px 30px 30px;
}

.detailCardRightColumn {
    display: grid;
    position: relative;
    background-color: #222831;
    grid-template-rows: auto 45%;
    top: 5%;
    height: 90%;
    width: 80%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.detailCardRight {
    display: grid;
    position: relative;
    background-color: #222831;
    grid-template-columns: 50% 50%;
    top: 5%;
    height: 90%;
    width: 100%;
    border-top-right-radius: 30px;
}

.detailCardRightTitle {
    color: white;
    font-weight: bold;
    white-space: pre-wrap;
    line-height: 180%;
    text-align: left;
    padding-left: 20%;
    padding-top: 8%;
    font-size: 20px;
}
  
.detailCardRightData {
    color: white;
    white-space: pre-wrap;
    line-height: 180%;
    text-align: right;
    padding-right: 10%;
    padding-top: 8%;
    font-size: 20px;
}

.detailCardRightRow {
    display: grid;
    position: relative;
    background-color: #222831;
    grid-template-rows: 65% 35%;
    border-bottom-right-radius: 30px;
}
  
.ChangeCityButton {
    height: 50%;
    width: 80%;
    border: 0px;
    background: linear-gradient(to right, rgb(94, 190, 235), rgb(84, 115, 239));
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}