.d-menu {
    width : 20%;
    height : 100%;
    position: absolute;
    left:65%;
    top:110%;
  }
  
  .d-menu a :not(font-size) {
    background-color: aqua;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
  }